Counter==1.0.0
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.34.4
ipadic==1.0.0
isort==5.10.1
Janome==0.4.2
kiwisolver==1.4.4
matplotlib==3.5.3
mecab==0.996.3
mecab-python3==1.0.5
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
unidic-lite==1.0.8
wordcloud==1.8.2.2
